<div .wrapper>
	<div class="head pure-g">
		<h1 class="pure-u-5-5 header">Crackle Barrel Data Visualization Project</h1>
	</div>

	<div id="main">
		<nav>
			<div class="pure-g">
				<p class="pure-u-1-4"> </p>
				<a class="pure-u-1-4 pure-button pure-button-active menu-row" href="/json_url/new">Compare several users</a>
				<a class="pure-u-1-4 pure-button pure-button-active menu-row" href="/by_attribute/new">In depth on one user</a>
			</div>
			<div class="pure-g">
				<p class="pure-u-1-4"> </p>
				<a class="pure-u-1-4 pure-button pure-button-active menu-row" href="/pie/new">Pie chart</a>
				<a class="pure-u-1-4 pure-button pure-button-active menu-row"  href="/histogram_chart/new">Histogram</a>
			</div>
			<div class="pure-g">
				<p class="pure-u-1-3"> </p>
				<a class="pure-u-1-3 pure-button pure-button-active menu-row" href="/mailer/new">Mailer Generation</a>
			</div>
		</nav>
	</div>

	<div class="foot pure-g">
		<h4 class="header">A project by Matthew Coleman, Dean Thurston, Brian Tran, Patrick Burden, Dan Simond</h4>
	</div>
</div>