<<<<<<< HEAD
<h1>Coleman</h1>
=======
<h1>All Attribute 6 for every run by User 117</h1>
>>>>>>> origin/master
<%= select(:json_url_controller, :names, @names) %>

<%= high_chart("Attribute_6", @chartty) %>